#header {
    background-color: rgb(84 82 82);
}

.navbar-collapse{
    justify-content: space-between;
}

.search{
    background-color: gray;
    width: 30%;
}

.navbar-nav {
    margin-left: 10rem;
}

.navbar-light .navbar-nav .nav-link {
    color: gold;
}

.navbar-brand {
    background-image: url('../../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: double;
    border-width: 2px 2px 2px 2px;
    border-color: gold;
    border-radius: 113% 113% 113% 113%;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0px;
    box-shadow: gold 5px 0px 5px;
    z-index: 100;
}

.navbar-toggler {
    background-color: #FFFFFF;
}

.logout-button {
    color: #FFFFFF;
}

.navbar-collapse:is(.show) {
    background: rgb(137 136 136 / 91%);
    z-index: 100;
}

@media (max-width: 992px) {
    .navbar-brand{
        display: none;
    }
}

